* {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow: hidden;
  position: relative;
}
body #wrap {
  position: relative;
  top: 0;
  left: 0;
}

#selectLanguage {
  position: absolute;
  background-color: #1e90ff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  z-index: 4;
  align-items: center;
  overflow: hidden;
}
#selectLanguage div {
  display: flex;
  position: absolute;
}
#selectLanguage div a {
  display: flex;
  color: #ffffff;
}
#selectLanguage div a:hover {
  font-weight: bold;
}

header {
  width: calc(100% - 100px);
  padding: 0 50px;
  height: 50px;
  top: -50px;
  z-index: 4;
  display: flex;
  position: fixed;
  overflow: hidden;
  justify-content: space-between;
  background-color: #f5f5dd;
}
header ul {
  display: flex;
}
header ul.headerButton {
  flex-direction: column;
  position: relative;
  line-height: 50px;
  height: 50px;
}
header ul.headerButton li {
  cursor: pointer;
}
header ul.headerLanguage li:nth-of-type(2) {
  margin: 0 25px;
}
header .headerLanguage a, header .headerLanguage img {
  display: block;
  height: 46px;
  width: 69px;
  margin: 2px 3px;
}

ul.headerSub {
  background-color: #1e90ff;
  position: fixed;
  width: calc(100% - 100px);
  display: flex;
  top: -50px;
  padding: 0 50px;
  line-height: 50px;
  height: 50px;
  z-index: 2;
}
ul.headerSub li {
  width: 25%;
  text-align: center;
  cursor: pointer;
}
ul.headerSub li a {
  color: #ffffff;
}

#introduction {
  background-color: #000080;
  width: calc(100% - 100px);
  min-width: 600px;
  height: calc(100vh - 150px);
  padding: 50px;
  padding-top: 100px;
  position: relative;
  overflow: hidden;
}
#introduction h2 {
  width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 1.8em;
}
#introduction .greething {
  font-size: 1.5em;
  color: #ffffff;
  position: relative;
  z-index: 3;
}
#introduction .greething p {
  position: relative;
  left: 100%;
  opacity: 0;
}
#introduction .introSlide {
  position: absolute;
  display: flex;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  opacity: 0;
}
#introduction .introSlide li {
  height: 100%;
}
#introduction .introSlide li img {
  height: 100%;
}
#introduction .notice {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  position: absolute;
  cursor: pointer;
  opacity: 1;
  z-index: 4;
  bottom: 100%;
}
#introduction .notice:hover {
  background-color: #1e90ff;
  color: #000080;
}
#introduction .notice:hover + .noticeContent {
  display: block;
}
#introduction .noticeContent {
  position: absolute;
  display: none;
  width: 56%;
  padding: 2%;
  background-color: #000080;
  color: #ffffff;
  z-index: 4;
  bottom: calc(10% + 45px);
  margin-left: 5px;
}
#introduction .noticeContent li {
  display: flex;
  padding: 5px 0;
}
#introduction .noticeContent li img {
  height: 30px;
  margin-left: 10px;
}

#about {
  width: calc(100% - 100px);
  min-width: 600px;
  height: calc(100vh - 150px);
  padding: 50px;
  padding-top: 100px;
  position: relative;
  background-color: #87ceeb;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#about h2 {
  width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 1.8em;
}
#about .mainImg {
  width: 33%;
  padding-right: 2%;
  overflow: hidden;
}
#about .mainImg img {
  height: 100%;
}
#about .profile {
  width: 63%;
  padding-left: 2%;
}
#about .profile li {
  height: 20%;
  display: flex;
  align-items: center;
}
#about .profile li span {
  color: blue;
  font-weight: bold;
  padding-right: 10px;
}
#about .profile li img {
  height: 50%;
}
#about .openPop {
  width: 100%;
}
#about .openPop li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#about .openPop li a {
  width: 40%;
  background-color: #000080;
  color: #ffffff;
  margin: 10px 0;
  text-align: center;
  padding: 5px 0;
  font-size: 1.5em;
}
#about .openPop li a:hover {
  background-color: #1e90ff;
  color: #000080;
}
#about .popVisited {
  width: calc(100% - 100px);
  height: calc(100vh - 150px);
  background-color: #f5f5dd;
  position: absolute;
  display: none;
  opacity: 0;
  transform: translateX(-50%);
  left: 100%;
  overflow: hidden;
}
#about .popVisited h2 {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  color: navy;
}
#about .popVisited h2 .closePop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
#about .popVisited h2 .closePop:hover {
  background-color: #1e90ff;
  color: #000080;
}
#about .popVisited p {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 10px 0;
}
#about .popVisited p img {
  margin-left: 10px;
  height: 40px;
}
#about .popVisited .visitSwiper {
  height: calc(100% - 50px);
}
#about .popVisited .visitSwiper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px;
  height: calc(100% - 100px);
  background-color: #f5f5dd;
}
#about .popVisited .visitSwiper ul li {
  width: 30%;
  height: 30%;
  position: relative;
  display: flex;
  justify-content: center;
}
#about .popVisited .visitSwiper ul li img {
  display: block;
}
#about .popVisited .visitSwiper ul li:nth-of-type(4) {
  right: -50px;
}
#about .popVisited .visitSwiper ul li:nth-of-type(7) {
  right: -100px;
}
#about .popVisited .visitSwiper ul li:nth-of-type(2) {
  transform: rotateZ(15deg);
  left: -180px;
}
#about .popVisited .visitSwiper ul li:nth-of-type(5) {
  transform: scale(1.5) rotateZ(-45deg);
}
#about .popVisited .visitSwiper ul li:nth-of-type(8) {
  transform: rotateZ(-15deg);
  right: -180px;
}
#about .popVisited .visitSwiper ul li:nth-of-type(3) {
  left: -100px;
}
#about .popVisited .visitSwiper ul li:nth-of-type(6) {
  left: -50px;
}
#about .popExperience,
#about .popBackend {
  width: calc(100% - 100px);
  height: calc(100vh - 150px);
  background-color: #f5f5dd;
  position: absolute;
  display: none;
  opacity: 0;
  transform: translateX(-50%);
  left: 100%;
  overflow: auto;
}
#about .popExperience h2,
#about .popBackend h2 {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  color: navy;
}
#about .popExperience h2 .closePop,
#about .popBackend h2 .closePop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
#about .popExperience h2 .closePop:hover,
#about .popBackend h2 .closePop:hover {
  background-color: #1e90ff;
  color: #000080;
}
#about .popExperience > div,
#about .popBackend > div {
  padding: 30px;
}
#about .popExperience > div > ul,
#about .popBackend > div > ul {
  padding-left: 20px;
  padding-bottom: 30px;
}
#about .popExperience > div > ul > li,
#about .popBackend > div > ul > li {
  margin-bottom: 20px;
}
#about .popExperience > div > ul > li > h3,
#about .popBackend > div > ul > li > h3 {
  margin-left: -20px;
}
#about .popExperience > div > ul > li p,
#about .popBackend > div > ul > li p {
  font-size: 1.2em;
  height: 30px;
  display: flex;
  align-items: center;
}
#about .popExperience > div > ul > li p span,
#about .popBackend > div > ul > li p span {
  display: flex;
  align-items: center;
  color: #555555;
  font-size: 0.9em;
  margin-left: 10px;
}
#about .popExperience > div > ul > li p img,
#about .popBackend > div > ul > li p img {
  height: 30px;
  margin-left: 15px;
}
#about .popExperience > div > ul > li > ul,
#about .popBackend > div > ul > li > ul {
  display: flex;
}
#about .popExperience > div > ul > li > ul > li,
#about .popBackend > div > ul > li > ul > li {
  padding: 0 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .popExperience > div > ul > li > ul > li:first-child,
#about .popBackend > div > ul > li > ul > li:first-child {
  padding-left: 0;
}
#about .popExperience > div > ul > li > ul > li img,
#about .popBackend > div > ul > li > ul > li img {
  display: inline-block;
}
#about .popExperience.popExperience ul:nth-of-type(2) p:nth-of-type(2),
#about .popBackend.popExperience ul:nth-of-type(2) p:nth-of-type(2) {
  color: #555555;
}
#about .popSkills {
  width: calc(100% - 100px);
  height: calc(100vh - 150px);
  background-color: #f5f5dd;
  position: absolute;
  display: none;
  opacity: 0;
  transform: translateX(-50%);
  left: 100%;
}
#about .popSkills h2 {
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  width: calc(100% - 30px);
  display: flex;
  justify-content: space-between;
  color: navy;
}
#about .popSkills h2 .closePop {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  background-color: #000080;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
#about .popSkills h2 .closePop:hover {
  background-color: #1e90ff;
  color: #000080;
}
#about .popSkills ul {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-wrap: wrap;
}
#about .popSkills ul li {
  background-color: #ffffff;
  width: calc(12.5% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  display: flex;
}
#about .popSkills ul li div {
  margin: auto;
  border-width: 3px;
  border-style: solid;
  border-radius: 10%;
  overflow: hidden;
}
#about .popSkills ul li div.programmingTools {
  border-color: lightpink;
}
#about .popSkills ul li div.frontend {
  border-color: dodgerblue;
}
#about .popSkills ul li div.database {
  border-color: orange;
}
#about .popSkills ul li div.backend {
  border-color: lightgreen;
}
#about .popSkills ul li div.designTool {
  border-color: palevioletred;
}
#about .popSkills ul li div.server {
  border-color: crimson;
}
#about .popSkills ul li div.webFramework {
  border-color: teal;
}
#about .popSkills ul li div img {
  display: block;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

#works {
  width: calc(100% - 100px);
  min-width: 600px;
  height: calc(100vh - 150px);
  padding: 50px;
  padding-top: 100px;
  position: relative;
  background-color: #3366ff;
  overflow: hidden;
}
#works h2 {
  width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 1.8em;
}
#works h2 {
  color: #ffffff;
}
#works .swiper {
  width: 100%;
  height: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
  z-index: 0;
}
#works .swiper-slide {
  text-align: center;
  font-size: 18px;
  padding: 50px;
  box-sizing: border-box;
  background: #f5f5dd;
  display: flex;
  overflow: visible;
}
#works .swiper-slide .webpageFrame {
  overflow: auto;
}
#works .swiper-slide .webpageFrame img {
  display: block;
  width: 100%;
  overflow: scroll;
}
#works .swiper-slide .webInfo {
  text-align: justify;
  overflow: auto;
}
#works .swiper-slide .webInfo h3 {
  font-size: 1.5em;
}
#works .swiper-slide .webInfo p {
  font-size: 1.2em;
}
#works .swiper-slide .webInfo .explain {
  padding: 10px;
  font-size: 1em;
  color: #222222;
}
#works .swiper-slide .webInfo > img {
  width: 50%;
}
#works .swiper-slide .webInfo ul {
  display: flex;
  flex-wrap: wrap;
}
#works .swiper-slide .webInfo ul li {
  height: 75px;
  width: 75px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#works .swiper-slide .webInfo ul li img {
  display: block;
  height: 100%;
}
#works .swiper-slide .webInfo a {
  background-color: #000080;
  color: #ffffff;
  width: 49%;
  margin: 10px 0;
  padding: 5px 0;
  display: inline-block;
  text-align: center;
}
#works .swiper-slide .webInfo a:first-of-type {
  margin-right: 1%;
}
#works .swiper-slide .webInfo a:last-of-type {
  margin-left: 1%;
}
#works .swiper-slide .webInfo a:hover {
  color: #000080;
  background-color: #1e90ff;
}

#conclusion {
  width: calc(100% - 100px);
  min-width: 600px;
  height: calc(100vh - 150px);
  padding: 50px;
  padding-top: 100px;
  position: relative;
  background-image: url("../images/backgroundImgs/imageConclusion.jpg");
  background-size: cover;
  background-position: right 0 bottom 50%;
  display: flex;
}
#conclusion h2 {
  width: 100%;
  height: 75px;
  line-height: 75px;
  font-size: 1.8em;
}
#conclusion > * {
  z-index: 2;
}
#conclusion .closingCover {
  background-color: #222222;
  position: absolute;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
  z-index: 1;
  margin-left: -50px;
  margin-top: -100px;
}
#conclusion .closing {
  color: #ffffff;
  text-shadow: 1px 1px 1px #333333;
  width: 90%;
}
#conclusion .closing p {
  font-size: 2em;
}
#conclusion .closing p img {
  width: 30%;
}
#conclusion .closing ul li:first-child {
  font-size: 3.5em;
}
#conclusion .closing ul li:last-child {
  font-size: 1.5em;
}
#conclusion .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10%;
}
#conclusion .contact li {
  width: 55%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
#conclusion .contact li img {
  width: 100%;
}
#conclusion .contactPop {
  position: absolute;
  bottom: 0px;
  width: 50%;
}
#conclusion .contactPop li {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background-color: #000080;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
  top: 0;
  cursor: pointer;
}
#conclusion .contactPop li:hover {
  font-weight: bold;
}
#conclusion .contactPop li span {
  background-color: #000080;
}
#conclusion .contactPop li span img {
  width: 20px;
}
#conclusion .contactPop li span:last-child {
  opacity: 0;
  display: none;
}

#changingLanguage {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 10;
}
#changingLanguage span {
  display: block;
  position: absolute;
  width: 100%;
}
#changingLanguage span:first-child {
  transform: translate(-50%, -100%);
  top: 50%;
  left: 50%;
}
#changingLanguage span:last-child {
  transform: translate(-50%, 0%);
  top: 50%;
  left: 50%;
}
#changingLanguage div {
  position: absolute;
  width: calc(100% - 300px);
  height: 100%;
  top: 0;
  left: 0%;
  font-size: 3em;
  font-weight: bold;
  background-color: #3366ff;
  border-left: 150px solid #1e90ff;
  border-right: 150px solid #1e90ff;
}

@media (max-width: 999px) {
  #about {
    flex-direction: column;
  }
  #about .mainImg,
  #about .profile {
    height: 20vh;
  }
  #selectLanguage {
    justify-content: flex-start;
  }
  #selectLanguage div {
    flex-direction: column;
    width: auto;
    margin-left: 5%;
  }
  #selectLanguage div a {
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 120px;
  }
  #selectLanguage div a:nth-of-type(2) {
    margin: 40px 0;
  }
  #selectLanguage div a img {
    width: auto;
    display: block;
    width: 180px;
  }
  #selectLanguage div a span {
    font-size: 3em;
  }
  #works .swiper-slide {
    flex-direction: column;
  }
  #works .swiper-slide .webpageFrame,
  #works .swiper-slide .webInfo {
    height: 50%;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  #about {
    flex-direction: row;
  }
  #about .mainImg,
  #about .profile {
    height: 40vh;
  }
  #selectLanguage {
    justify-content: space-evenly;
  }
  #selectLanguage div {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin-left: 0;
  }
  #selectLanguage div a {
    flex-direction: column;
    align-items: center;
    width: 28%;
  }
  #selectLanguage div a img {
    height: 15vh;
  }
  #selectLanguage div span {
    font-size: 2.8em;
  }
  #works .swiper-slide {
    flex-direction: row;
    justify-content: space-between;
  }
  #works .swiper-slide .webpageFrame,
  #works .swiper-slide .webInfo {
    height: 100%;
    width: 45%;
  }
}