@charset 'utf-8';

$whitePerfect: #ffffff;
$whiteDusky: #f5f5dd;
$gray1: #222222;
$gray2: #333333;
$gray3: #555555;
$blue1: #3366ff;
$blue2: #1e90ff;
$blue3: #000080;
$blue4: #87ceeb;

@mixin pageFormat {
    width: calc(100% - 100px);
    min-width: 600px;
    height: calc(100vh - 150px);
    padding: 50px;
    padding-top: 100px;
    position: relative;

    h2 {
        width: 100%;
        height: 75px;
        line-height: 75px;
        font-size: 1.8em;
    }
}

@mixin popupFormat {
    width: calc(100% - 100px);
    height: calc(100vh - 150px);
    background-color: $whiteDusky;
    position: absolute;
    display: none;
    opacity: 0;
    transform: translateX(-50%);
    left: 100%;

    h2 {
            height: 50px;
            line-height: 50px;
            padding-left: 30px;
            width: calc(100% - 30px);
            display: flex;
            justify-content: space-between;
            color: navy;

            .closePop {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin: 5px;
                background-color: $blue3;
                color: $whitePerfect;
                text-align: center;
                // border-radius: 50%;
                cursor: pointer;

                &:hover {
                    background-color: $blue2;
                    color: $blue3;
                }
            }
        }
}

* {
    margin: 0;
    padding: 0;
    
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    // overflow: hidden;
    position: relative;
}

// 첫 화면 언어 선택
#selectLanguage {
    position: absolute;
    background-color: $blue2;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    z-index: 4;
    align-items: center;
    overflow: hidden;

    div {
        display: flex;

        a {
            display: flex;
            color: $whitePerfect;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

// 헤더
header {
    width: calc(100% - 100px);
    padding: 0 50px;
    height: 50px;
    top: -50px;
    z-index: 4;
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: $whiteDusky;

    ul {
        display: flex;
        
        &.headerButton {
            flex-direction: column;
            overflow: hidden;
            line-height: 50px;
            height: 50px;

            li {
                cursor: pointer;
            }
        }

        &.headerLanguage {
            li:nth-of-type(2){
                margin: 0 25px;
            }
        }
    }

    .headerLanguage {
        a, img{
            display: block;
            height: 46px;
            width: 69px;
            margin: 2px 3px;
        }
    }
    
}

// 헤더 서브메뉴
ul.headerSub {
    background-color: $blue2;
    color: $whitePerfect;
    position: fixed;
    width: calc(100% - 100px);
    display: flex;
    top: -50px;
    padding: 0 50px;
    line-height: 50px;
    height: 50px;
    z-index: 2;

    li {
        width: 25%;
        text-align: center;
        cursor: pointer;
    }
}

// 첫 화면
#introduction {
    background-color: $blue3;
    @include pageFormat();
    overflow: hidden;

    .greething {
        font-size: 1.5em;
        color: $whitePerfect;
        position: relative;
        z-index: 3;

        p {
            position: relative;
            left: 100%;
            opacity: 0;
        }
    }

    // 첫 화면 슬라이드
    .introSlide {
        position: absolute;
        display: flex;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100%;
        opacity: 0;

        li {
            height: 100%;

            img {
                height: 100%;
            }
        }
        
        
    }
}

// 자기소개
#about {
    @include pageFormat();
    background-color: $blue4;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    .mainImg {
        width: 33%;
        padding-right: 2%;
        overflow: hidden;

        img {
            height: 100%;
        }
    }

    .profile {
        width: 63%;
        padding-left: 2%;

        li {
            height: 20%;
            display: flex;
            align-items: center;

            span {
                color: blue;
                font-weight: bold;
                padding-right: 10px;
            }

            img {
                height: 50%
            }
        }
    }

    // 팝업 열기
    .openPop {
        width: 100%;

        li {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            a {
                width: 40%;
                background-color: $blue3;
                color: $whitePerfect;
                margin: 10px 0;
                text-align: center;
                padding: 5px 0;
                font-size: 1.5em;

                &:hover {
                    background-color: $blue2;
                    color: $blue3;
                }
            }
        }
    }

    // 방문 지역
    .popVisited {
        @include popupFormat();
        overflow: hidden;
        // 소제목
        p {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            padding: 10px 0;

            img {
                margin-left: 10px;
                height: 40px;
            }
        }

        .visitSwiper {
            height: calc(100% - 50px);
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 50px;
                height: calc(100% - 100px);
                background-color: $whiteDusky;

                li {
                    width: 30%;
                    height: 30%;
                    position: relative;
                    display: flex;
                    justify-content: center;

                    img {
                        display: block;
                    }

                    &:nth-of-type(4) {
                        right: -50px;
                    }

                    &:nth-of-type(7) {
                        right: -100px;
                    }

                    &:nth-of-type(2) {
                        transform: rotateZ(15deg);
                        left: -180px;
                    }

                    &:nth-of-type(5) {
                        transform: scale(1.5) rotateZ(-45deg);
                    }

                    &:nth-of-type(8) {
                        transform: rotateZ(-15deg);
                        right: -180px;
                    }

                    &:nth-of-type(3) {
                        left: -100px;
                    }
                    &:nth-of-type(6) {
                        left: -50px;
                    }
                }
            }
        }  
    }

    .popExperience,
    .popBackend {
        @include popupFormat();
        overflow: auto;

        div {
            padding: 30px;

            ul {
                padding-left: 20px;
                padding-bottom: 30px;

                li {
                    margin-bottom: 20px;

                    &>h3 {
                        margin-left: -20px;
                    }

                    p {
                        font-size: 1.2em;
                        height: 30px;
                        display: flex;
                        align-items: center;

                        span {
                            display: flex;
                            align-items: center;
                        }
                    }

                    img {
                        display: inline-block;
                        height: 30px;
                    }    
                }
                
            }
        }

        &.popExperience ul:nth-of-type(2) p:nth-of-type(2) {
            color:$gray3;
        }
    }

    .popSkills {
        @include popupFormat();
        ul {
            width: 100%;
            height: calc(100% - 50px);
            display: flex;
            flex-wrap: wrap;

            li {
                background-color: $whitePerfect;
                width: calc((100% / 8) - 10px);
                height: calc(25% - 10px);
                margin: 5px;
                display: flex;

                div {
                    margin: auto;
                    border-width: 3px;
                    border-style: solid;
                    border-radius: 10%;
                    overflow: hidden;

                    &.programmingTools {
                        border-color: lightpink;
                    }

                    &.frontend {
                        border-color: dodgerblue;
                    }

                    &.database {
                        border-color: orange;
                    }

                    &.backend {
                        border-color: lightgreen;
                    }

                    &.designTool {
                        border-color: palevioletred;
                    }

                    &.server {
                        border-color: crimson;
                    }
                    &.webFramework {
                        border-color: teal;
                    }

                    img {
                        display: block;
                        position: relative;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%
                    }
                }
            }    
        }
    }
}

// 작업 내용
#works {
    @include pageFormat();
    background-color: $blue1;
    overflow: hidden;

    h2 {
        color: $whitePerfect;
    }

    .swiper {
      width: 100%;
      height: calc(100% - 50px);
      margin-left: auto;
      margin-right: auto;
      z-index: 0;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      padding: 50px;
      box-sizing: border-box;
      background: $whiteDusky;
      display: flex;
    //   flex-direction: column;
      overflow: visible;

        .webpageFrame {
            overflow: auto;

            img {
                display: block;
                width: 100%;
                overflow: scroll;
            }
        }
        
    }
}

// 연락처, 끝인사
#conclusion {
    @include pageFormat();
    background-image: url('../images/imageConclusion.jpg');
    background-size: cover;
    background-position: right 0 bottom 50%;
    display: flex;
    
    &>* {
        z-index: 2;
    }

    .closingCover {
       background-color: $gray1;
       position: absolute;
       width: 100%;
       height: 100vh;
       opacity: 0.5;
       z-index: 1;
       margin-left: -50px;
       margin-top: -100px;
    }

    .closing {
        color: $whitePerfect;
        text-shadow: 1px 1px 1px $gray2;
        width: 90%;

        p {
            font-size: 2em;
        }

        ul {
            li:first-child{
                font-size: 3.5em;
            }

            li:last-child{
                font-size: 1.5em;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 10%;

        li {
            width: 55%;
            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
            }
        }
    }

    .contactPop {
        position: absolute;
        bottom: 0px;
        width: 45%;
        li {
            position: absolute;
            width: 100%;
            height: 40px;
            line-height: 40px;
            background-color: #000080;
            color: $whitePerfect;
            border-radius: 20px;
            text-align: center;
            top: 0;
        }
    }
}

// 언어 변경
#changingLanguage {
    position: fixed;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    text-align: center;
    color: $whitePerfect;
    z-index: 10;
    

    span {
        display: block;
        position: absolute;
        width: 100%;

        &:first-child {
            transform: translate(-50%, -100%);
            top: 50%;
            left: 50%;
        }

        &:last-child {
            transform: translate(-50%, 0%);
            top: 50%;
            left: 50%;
        }
    }

    div {
        position: absolute;
        width: calc(100% - 300px);
        height: 100%;
        top: 0;
        left: 0%;
        font-size: 3em;
        font-weight: bold;
        background-color: $blue1;
        border-left: 150px solid $blue2;
        border-right: 150px solid $blue2;
    }
}

@media (max-width: 999px) {
    #about {
        flex-direction: column;

        .mainImg,
        .profile {
            height: 20vh;
        }
    }

    #selectLanguage {
        justify-content: flex-start;

        div {
            flex-direction: column;
            width: auto;
            margin-left: 5%;

            a {
                flex-direction: row;
                align-items: center;
                width: auto;
                height: 120px;

                &:nth-of-type(2) {
                    margin: 40px 0;
                }

                img {
                    width: auto;
                    display: block;
                    width: 180px;
                }

                span {
                    font-size: 3em;
                    
                }
            } 
        }
    }

    #works {
        .swiper-slide {
            flex-direction: column;
            
            .webpageFrame {
                height: 50%;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1000px) {
    #about {
        flex-direction: row;

        .mainImg,
        .profile {
            height: 40vh;
        }
    }

    #selectLanguage {
        justify-content: space-evenly;

        div {
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            margin-left: 0;

            a {
                flex-direction: column;
                align-items: center;
                width: 28%;

                img {
                    height: 15vh;
                }
            }
            
            span {
                font-size: 2.8em;
            }
        }
    }

    #works {
        .swiper-slide {
            flex-direction: row;

            .webpageFrame {
                height: 100%;
                width: 50%;
            }
        }
    }
}